# Compiled python modules
*.pyc
/.cache
/cans.egg-info
/.eggs

# Temp files
*~
\#*#

# plots
*.pdf
*.png

# pyenv settings
.python-version

# Temporary scripts
temp.py

# Todo lists
*.org

# CANS directories
# /bin
/data
/refactoring
/readme_images
/old_modules
extension_ideas.org

# Generated html
README.html
